.modal-container {
  height: 100vh;
  width: 100%;
  background: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-container.ativo {
  display: flex;
}

.modal {
  background: white;
  min-width: 300px;
  padding: 40px;
  border: 10px solid #fb5;
  box-shadow: 0 0 0 10px white;
  position: relative;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.ativo .modal {
  animation: modal 0.3s forwards;
}

.fechar {
  top: -30px;
  right: -30px;
  width: 50px;
  height: 50px;
  border: 4px solid white;
  border-radius: 50%;
  background: #e54;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  font-size: 1.2rem;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  cursor: pointer;
}

.modal label {
  font-family: "IBM Plex Mono", monospace;
  display: block;
  font-weight: bold;
  margin: 1rem 0 0.5rem 0;
}

.modal input {
  width: 100%;
  padding: 0.7rem 0.5rem;
  box-sizing: border-box;
}

.modal button[type="submit"] {
  display: block;
  background: #e54;
  border: none;
  border-radius: 4px;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  margin-top: 16px;
  font-weight: bold;
}
